<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Edit Listing</h3>
        <form method="POST" action="/listing/<%= prevlisting._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" value="<%= prevlisting.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks Good.</div>
                <div class="invalid-feedback">Please Enter a valid Title.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" required> <%= prevlisting.description %></textarea>
                <div class="invalid-feedback">Please describe about the place.</div>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">new Image</label>
                <input name="img" class="form-control" value="<%= prevlisting.url %>" type="file">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" class="form-control" value="<%= prevlisting.price %>" required>
                <div class="invalid-feedback">Please Enter a valid Price.</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="country" class="form-control" value="<%= prevlisting.country %>" required>
                    <div class="invalid-feedback">Please enter a valid country name.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="location" class="form-control" value="<%= prevlisting.location %>" required>
                <div class="invalid-feedback">Please enter a valid Country Name.</div>
            </div>
            <button class="btn btn-outline-success" style="width: 100px; border-radius: 15px">Done</button>
            <br><br>
        </form>
    </div>
</div>